jupyterlab
jupyter-server-proxy


###############################################################
#          python packages             #
###############################################################
pyspark
pprintpp

